@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html{
    height: 100%!important;

    body{
        background-color: #AAA!important;
        height: 100%!important;
        font-family: 'Roboto', sans-serif;

        div.controls{
            background-color: #333;
            overflow: hidden;
            padding: 8px;
            color: #FFF;
            font-weight: 500;
            font-size: 1rem;
            color: #FFF;
            h3{
                display: inline-block;
                font-size: 0.9rem;
                margin: 0;
            }
            a{
                padding: 5px;
                font-size: 0.9rem;
                font-weight: lighter;
                margin: 5px 0;
            }
            span{
                text-decoration: underline;
                font-size: 0.9rem;
                font-weight: lighter;
                color: #0056b3;
            }
        }
        

        ul{
            list-style: none;
            padding: 0;
            margin-top: 1rem;
        }

        #app{
            height: 100%;
            .container{
                height: 100%;
                .row{
                    height: 100%;
                    .col-md-8{
                        display: inherit;
                        div.tarefas{
                            background-color: #DDD;
                            padding: 20px;
                            margin: auto;
                            width: 100%;
                        }
                    }
                }
            }
        }

        Button, Input{
            border-radius: 0!important;
        }

        Table{
            margin-bottom: 0;
        }
    }
}
